


.body{
  display: grid;
  grid-template-columns: 15vw auto ;
  grid-template-rows: 5vw 40vw 4vw;

}


.nav{
  grid-column: 1/-1;
  grid-row: 1;
  background-color: saddlebrown;
  margin-bottom: 1vw;

}

.Art{
  border : solid  1px saddlebrown ;
  grid-column: 2;
  grid-row: 2/3;

  background-color: white;
  margin-right: 4vw;


  display: grid;
  grid-template-columns: 25vw auto auto;
  grid-template-rows : 6vw auto auto;
}
.art-info{
  grid-column: 2;
  grid-row: 2;
  margin-left: 2vw;
}

.art-img {
  grid-row: 2;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;

}



.containerPreview{
grid-column: 1;
  grid-row: 2;
  background-color: red;
  margin-right: 1vw;
}


.footer{
  grid-column: 1/-1;
  grid-row: 3;
  background-color: saddlebrown;
  margin-top: 1vw;
}

a{
  color: #222222;
  text-decoration: none;
}


